<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ControlChannelName" value=".\private$\broker_control_channel"/>
    <add key="ChannelName" value=".\private$\broker_consumer"/>
    <add key="Topic" value="Greetings"/>
    <add key="PollingInterval" value="250"/>
    <add key="PollingTimeout" value="5"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
