<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ChannelName" value=".\private$\bob2"/>
    <add key="PollingInterval" value="1250"/>
    <add key="PollingTimeout" value="5"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
